<drag-scroll style="width: 100%; height: 100%" [scrollbar-hidden]="true">
    <div class="wrapper prevent-select">
        <p-organizationChart [value]="data" selectionMode="single" [(selection)]="selectedNode" [preserveSpace]="false"
            (onNodeSelect)="onNodeSelect($event)" styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header">{{node.label}}</div>
                <div class="node-content">
                    <div>{{node.data}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </div>
</drag-scroll>