.logo {
    font-weight: 900;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    margin: 0 2rem;
    border: 1px solid #495057;
    border-radius: 1rem;
    background-color: #495057;
    color: white;
}