<div class="card">
    <p-dataView #dv [value]="food" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
        [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
                <p-dropdown [options]="sortOptions" placeholder="Sort By Name"
                    (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
            </div>
        </ng-template>
        <ng-template let-food pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="fa fa-tag product-category-icon"></i>
                            <span class="product-category">{{food.brand}}</span>
                        </div>
                        <span [class]="'product-badge status-instock'">INSTOCK</span>
                    </div>
                    <div class="product-grid-item-content">
                        <div class="product-name">{{food.name}}</div>
                        <div class="product-description">Weight: {{food.weight}}</div>
                        <div class="product-description">Calories: {{food.calories}}</div>
                        <p-rating [ngModel]="3" [readonly]="false" [cancel]="false"></p-rating>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">{{food.price | currency: getCurrency()}}</span>
                        <p-button icon="pi pi-shopping-cart"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>